<main class='index'>
    <header class='masthead d-flex'>
        <div class="container text-center my-auto">
            <h1 class='mb-1'>
                EveryoneCan 
            </h1>
            <h3 class='mb-5'>
                Crea y Financia Proyectos
            </h3>
            <a href="/signin" class='btn btn-outline-warning'>
                Empieza
            </a>
        </div>
    </header>
</main>